{% include "./autogen-warning.j2" %}


# yamllint disable rule:line-length
---
variables:
  # When using dind, it's wise to use the overlayfs driver for
  # improved performance.
  DOCKER_DRIVER: overlay2
  # When using dind, it now requires a TLS certificate.
  # This disables that and allows us to connect back to the daemon
  DOCKER_TLS_CERTDIR: ""
  RELEASE_BRANCH: {{ RELEASE_BRANCH }}
  DEFAULT_BRANCH: {{ DEFAULT_BRANCH }}
  FIXED_TAG_SUFFIX: "${CI_COMMIT_REF_SLUG}-${CI_PIPELINE_ID}"
  MOVING_TAG_SUFFIX: latest
  MAKE: make --warn-undefined-variables

stages:
  - pre
  - build
  - test
  - post

static-checks:
  stage: pre
  image: python:3.9

  before_script:
    - ${MAKE} ci-install-deps

  script:
    - ${MAKE} ci-static-checks

.build-and-push-template: &build-and-push
  stage: build
  image: docker:latest

  services:
    - docker:dind

  before_script:
    # All build-and-push jobs need access to the GitLab Container Registry, but
    # not Docker Hub.
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - apk add --no-cache bash make

  script:
    - ${MAKE} build push
    # Comparison job may fail in scenarios when the image named MOVING_TAG does
    # not exist already.
    - ${MAKE} ci-image-compare || echo true

.test-template: &test
  stage: test
  image: docker:latest

  before_script:
    - apk add --no-cache bash make

  services:
    - docker:dind

  script: ${MAKE} ${TEST_TARGETS}

.release-template: &release
  stage: post
  image: docker:latest

  services:
    - docker:dind

  script: ${MAKE} release

  only:
    - master


########################
##   SYSTEM IMAGES    ##
########################
{% for image in SYSTEM_IMAGES %}
{% for architecture in image.architectures | default(ARCHITECTURES) -%}

{% set image_name_template = "{{}}/{}:{}{{}}".format(
    image.name,
    "" if architecture == DEFAULT_ARCHITECTURE else architecture + "-"
) %}
{% set fixed_tag = image_name_template.format("$CI_REGISTRY_IMAGE", "$FIXED_TAG_SUFFIX") %}
{% set docker_hub_fixed_tag = image_name_template.format("buildstream", "$FIXED_TAG_SUFFIX") %}
{% set moving_tag = image_name_template.format("buildstream", "$MOVING_TAG_SUFFIX") %}

{{ image.name }}-{{ architecture }}-build:
  <<: *build-and-push
  {% if architecture != DEFAULT_ARCHITECTURE %}
  tags:
    - {{ architecture }}
  {% endif %}

  variables:
    BUILD_ARGS: "--build-arg BRANCH=$RELEASE_BRANCH"
    CONTEXT: {{ image.name }}
    FIXED_TAG: {{ fixed_tag  }}
    MOVING_TAG: {{ moving_tag }}

{{ image.name }}-{{ architecture }}-release:
  <<: *release

  before_script:
    # System images are released on Docker Hub
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - apk add --no-cache bash make

  script:
    # Push both FIXED_TAG and MOVING_TAG to Docker Hub
    - MOVING_TAG={{ docker_hub_fixed_tag }} ${MAKE} release
    - MOVING_TAG={{ moving_tag }} ${MAKE} release

  variables:
    FIXED_TAG: {{ fixed_tag }}
    MOVING_TAG: {{ moving_tag }}
{% endfor %}
{% endfor %}


#############################
##   BUILDSTREAM IMAGES    ##
#############################
{% for image in BUILDSTREAM_IMAGES %}
{% for architecture in ARCHITECTURES -%}

{% set image_name_template = "{{}}/buildstream:{}{}{{}}".format(
    "" if architecture == DEFAULT_ARCHITECTURE else architecture + "-",
    image
) %}
{% set fixed_tag = image_name_template.format("$CI_REGISTRY_IMAGE", "-$FIXED_TAG_SUFFIX") %}
{% set docker_hub_fixed_tag = image_name_template.format("buildstream", "-$FIXED_TAG_SUFFIX") %}
{% set moving_tag = image_name_template.format("buildstream", "") %}

buildstream/{{ image }}-{{ architecture }}-build:
  <<: *build-and-push
  {% if architecture != DEFAULT_ARCHITECTURE %}
  tags:
    - {{ architecture }}
  {% endif %}

  variables:
    CONTEXT: buildstream
    DOCKERFILE: buildstream/{{ image }}.Dockerfile
    FIXED_TAG: {{ fixed_tag  }}
    MOVING_TAG: {{ moving_tag }}

buildstream/{{ image }}-{{ architecture }}-test:
  <<: *test
  {% if architecture != DEFAULT_ARCHITECTURE %}
  tags:
    - {{ architecture }}
  {% endif %}

  variables:
    FIXED_TAG: {{ fixed_tag }}
    TEST_TARGETS: bst-smoke-test {%- if "nightly" in image %} buildbox-casd-smoke-test{% endif %}

buildstream/{{ image }}-{{ architecture }}-release:
  <<: *release

  before_script:
    # System images are released on Docker Hub
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - apk add --no-cache bash make

  script:
    # Push both FIXED_TAG and MOVING_TAG to Docker Hub
    - MOVING_TAG={{ docker_hub_fixed_tag }} ${MAKE} release
    - MOVING_TAG={{ moving_tag }} ${MAKE} release

  variables:
    FIXED_TAG: {{ fixed_tag }}
    MOVING_TAG: {{ moving_tag }}
{% endfor %}
{% endfor %}


########################
##  TESTSUITE IMAGES  ##
########################
{% for image, versions in TEST_IMAGES.items() %}
{% for version in versions %}

{%- if version is mapping %}
{% set architectures = version["architectures"] %}
{%- if "toxenv" in version %}
{% set toxenv = version["toxenv"] %}
{% endif %}
{% set version = version["version"] %}
{% endif %}

{%- for architecture in architectures | default(ARCHITECTURES) %}

{%- set directory = "testsuite/{}-{}".format(image, version) %}
{% set image_name_template = "{{}}/testsuite-{}:{}{}-{{}}".format(
    image,
    "" if architecture == DEFAULT_ARCHITECTURE else architecture + "-",
    version
) %}
{% set fixed_tag = image_name_template.format("$CI_REGISTRY_IMAGE", "$FIXED_TAG_SUFFIX") %}
{% set moving_tag = image_name_template.format("$CI_REGISTRY_IMAGE", "$MOVING_TAG_SUFFIX") %}

testsuite/{{ image }}:{{ version }}-{{ architecture }}-build:
  <<: *build-and-push
  {% if architecture != DEFAULT_ARCHITECTURE %}
  tags:
    - {{ architecture }}
  {% endif %}

  variables:
    CONTEXT: testsuite
    DOCKERFILE: testsuite/{{ image }}-{{ version }}.Dockerfile
    FIXED_TAG: {{ fixed_tag }}
    MOVING_TAG: {{ moving_tag }}

testsuite/{{ image }}:{{ version }}-{{ architecture }}-test:
  <<: *test
  {% if architecture != DEFAULT_ARCHITECTURE %}
  tags:
    - {{ architecture }}
  {% endif %}

  variables:
    FIXED_TAG: {{ fixed_tag }}
    TEST_TARGETS: bst-test
    {% if toxenv is defined %}
    TOXENV: {{ toxenv }}
    {% endif %}

testsuite/{{ image }}:{{ version }}-{{ architecture }}-release:
  <<: *release

  before_script:
    # Testsuite images are released on GitLab Container Registry
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - apk add --no-cache bash make

  variables:
    FIXED_TAG: {{ fixed_tag }}
    MOVING_TAG: {{ moving_tag }}
{% endfor %}
{% endfor %}
{% endfor %}
